.post {
  --flow-space: 3rem;
}

.post__text {
  word-break: break-all;
}

.post__title {
  font-size: 24px;
  color: black;
  font-weight: 700;
}

.post__user,
.comment__name {
  font-size: 12px;
}

.post__controls {
  display: flex;
}

.form--edit,
.form--reply {
  max-width: 400px;
}

.form--edit textarea {
  min-height: 150px;
}

.form--reply {
  display: inline;
  margin-top: 10px;
}

.form--addcomment {
  max-width: 400px;
}

.commentText {
  height: 100px;
}

.comment__replies {
  margin-left: 20px;
}

.comment__reply {
  margin-top: 15px;
}

.reply__controls {
  display: flex;
}

.reply__controls button {
  margin-top: 0px;
  margin-left: 4px;
}

.level1 {
  margin-left: 20px;
  border-left: 1px solid #f56565;
  padding-left: 10px;
}

.level2 {
  margin-left: 40px;
  border-left: 1px solid #ed8936;
  padding-left: 10px;
}

.level3 {
  margin-left: 60px;
  border-left: 1px solid #ecc94b;
  padding-left: 10px;
}

.level4 {
  margin-left: 80px;
  border-left: 1px solid #48bb78;
  padding-left: 10px;
}
.level5 {
  margin-left: 100px;
  border-left: 1px solid #4299e1;
  padding-left: 10px;
}
